  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,800&family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vo{
    background: linear-gradient(80deg, #50abe7 15%, #6DD5FA 100%);
    width: 344px;
    height: 116px;
    margin-top: 200px;
    margin-left: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-family: 'Noto Sans', sans-serif;
}

.pai1{
   margin-top: 15px;
    /* width: 20%; */
    /* background-color: red; */
}

.pai1 h5{
    padding: 0;
    margin: 0;
    color:#D6D6D6

}

.pai1 p{
     
     font-size: 55px;
      color: white;
      margin-top: -15px;
}

.pai3{
    /* background-color: brown; */
    margin-top: 8px;
    color:#D6D6D6;

}

.paragrafo2{
    font-size: 25px;
    margin-top: -10px;
    text-align: center;
    color: white;
}

.paragrafo3,.paragrafo4{
   /* background-color: chartreuse;  */
    font-size: 20px;
    color: white;
    display:flex;
}
.velocidade{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.paragrafo4{
 font-size: 13px;
margin-top: 7px;
}

.pai4{
 /* background-color: chocolate; */
 margin-top: 8px;
 color: #D6D6D6;
 display: flex;
flex-direction: column;
}

.uv{
display: flex;

}
.numero{
color: white;
margin-left: 3px;
font-size: 20px;
margin-top: -2px;
}

.umidade{
/* background-color: teal; */
font-size: 13px;
}

.paragrafo5{
    color: white;
    font-size: 17px;
    margin-left: 10px;
}

 img{
   height: auto;
   width: 90px;
   margin-top: 10px;
}